<div class="col-md-4">
    <div class="card my-4">
        <h5 class="card-header">Tags</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">Django</a>
                        </li>
                        <li>
                            <a href="#">Java</a>
                        </li>
                        <li>
                            <a href="#">C++</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">JavaScript</a>
                        </li>
                        <li>
                            <a href="#">Docker</a>
                        </li>
                        <li>
                            <a href="#">Go</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card my-4">
        <h5 class="card-header">Last articles</h5>
        <div class="card-body">
            <h5 class="card-title">First post</h5>
            <p class="card-text">Your article one</p>
            <a href="#" class="card-link">Link on article</a>
        </div>
        <hr>
        <div class="card-body">
            <h5 class="card-title">Two post</h5>
            <p class="card-text">Your article two</p>
            <a href="#" class="card-link">Link on article</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Three article</h5>
            <p class="card-text">Your article three</p>
            <a href="#" class="card-link">Link on article</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Four article</h5>
            <p class="card-text">Your article four</p>
            <a href="#" class="card-link">Link on article</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Five article</h5>
            <p class="card-text">Your article five</p>
            <a href="#" class="card-link">Link on article</a>
        </div>
    </div>
</div>