@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);
/***********************
********* content ******
************************/
#content {
    background: #c5c5c5;
}

h1 {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #4e4e4e;
}

#pagination {
    margin-top: 15px;
}

#signup > p{
    color: #595959;
}

#signup {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#signin > p{
    color: #595959;
}

#signin {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#success {
    margin: 50px;
}

#block_search {
    padding: 100px;
}